.add-post{
    
     margin-top: 3rem;
     margin-bottom: 3rem;
     padding-bottom: 3rem;
   
}

.add-post form{
     margin-top: 3rem;
}
.add-post-fields:first-child{
     margin-top: 3rem;
}

.add-post-fields input{
     height: 3.6rem;
     background-color: #edeff4d8;
     border: none;
     outline: none;
     border-radius: 2px;
     padding-left: 1rem;
}
.add-post-fields select{
     height: 3.6rem;
     background-color: #edeff4d8;
     border: none;
     outline: none;
     border-radius: 2px;
     padding-left: 1rem;
}
.add-post-fields textarea{
     height: 15rem;
     background-color: #edeff4d8;
     border: none;
     outline: none;
     border-radius: 2px;
     padding-left: 1rem;
     resize: vertical;
}
.add-post-fields input:focus{
    border: rgb(33, 212, 33) solid 1px;
}
.add-post-fields select:focus{
    border: rgb(33, 212, 33) solid 1px;
}
.add-post-fields textarea:focus{
    border: rgb(33, 212, 33) solid 1px;
}