.dashboard-topbar {
    /* position: fixed; */
    height: 6rem;
    /* margin-bottom: 12rem; */
}

.inside{
    position: fixed;
    height: 6rem;
}
.title-bar{
    width: 22.4%;
}

.leftBar{
    width: 100%;
}