@media  screen and (max-width: 1133px) {

    html{
        /* font-size: 9px; */
    }
     .flex-container{
        flex-direction: column;
        gap: 2rem;
     }   

     .w-col-2{
        width: 100%;
     }
     .content{
        display: flex;
        flex-direction: column;
     }
     .resp{
        display: flex;
        flex-direction: column;
     }
     .left-resp{
        display: flex;
        width: 100%;
        gap: 3rem;
        /* flex-grow: 1; */
     }
     .right-resp{
        display: flex;
        width: 100%;
        gap: 3rem;
     }
     .sub{
        width: 100%;
     }
     .ads{
          width: 100%;
          height: 60rem;
     }
     .ads1{
          width: 100%;
          /* height: 50rem; */
     }

     .single-post{
        flex-direction: column;
     }
     
     
}

@media screen and (max-width: 1057px) {
    .seaech{
        display: none;
    }
    .search-icon{
        display: block;
    }
}
@media  screen and (max-width: 995px) {

  .ad{
    width: 70rem;
    height: 9rem;
    justify-self: flex-end;
}

    .grid-col-2-1-2{
        grid-template-columns: 1fr;
    
    }
    .hero-flex-col{
        flex-direction: row;
    }

    .hero-title{
        /* padding-bottom: 2rem; */
        /* font-size: 1.5rem; */
    }
    .hero-title2{
    
        font-size: 2.4rem;
    }

    .none{
        display: none;
    }

    .card-gallery{
        width: 100%;
        /* width: 31.5%; */
        height: 33.4rem;
    }
    
   .grid-col-3{
    grid-template-columns: repeat(2,1fr);
   }

   .grid-col-4{
    grid-template-columns: repeat(2, 1fr);
   }
}
@media  screen and (max-width: 891px) {

    html{
        font-size: 9px;
    }
   .related-videos:last-child{
       display: none;
   }
}

@media screen and (max-width: 719px) {
    .resp-add{
        flex-direction: column;
    }
    .logo{
        display: none;
    }
    .ad{
        width: 100%;
    }
    .logo-disp{
        display: block;
    }
    
    .hero-flex-col{
        flex-direction: column;
    }
    

    ul li{
        display: none;
    }
    .search-icon{
        display: none;
    }

    .menu{
        display: block;
    }

    .breaking{
        display: none;
    }

    .hero-title{
        font-size: 2.4rem;
    }

    /* .hero{
        padding: 1rem;
    } */
    html{
        /* font-size: 8px; */
    }

    .footer-photos{
        display: none;

    }
    .footer-item{
        width: 50%;
    }
    .footer-item2{
        width: 50%;
    }
    .footer-item3{
        /* width: 38%; */
        display: none;
    }
    .social-medias{
        /* flex-direction: column; */
    }
    .box{
      background: #1e2024;
    }

    .related-videos{
        display: none;
    }

    .resp-related-videos{
        display: block;
    }
    .related-card:nth-child(2){
        display: none;
    }

    .shorten-comment{
        height: 10rem;
        overflow: hidden;
        transition: all 2s;
    }
    
   
}

@media screen and (max-width: 567px) {
    .hero2{
        display: none;
    }
    .img-hero{
        /* padding: 1rem; */
    }
    .overlay-hero{
        /* padding: 1rem; */
    }
    .recent-resp {
        /* display: block; */
    }
    .resp-container{
        width: 90%;
        margin: auto;
        padding-top: 2rem;
        margin-bottom: 0.5rem;
    }
    .grid-col-4{
        grid-template-columns: 1fr;
    }

    .featured-resp{
        display: none;
    }
    .featured-card{
        display: flex;
        background-color: #fff;
    }

    .featured-bg{
        /* background-color: #EDEFF4; */
    } 
    .news-resp{
        flex-direction: column;
        /* gap: 2rem; */
        /* background-color: #EDEFF4; */
    }
    .news-caragory{
        display: none;
      }
    .news-caragory2{
        display: none;
      }
      .news-resp2{
        display: block;
        /* padding: 0 3rem; */
      }
      .resp-bg{
        background: #fff;
      }
    .shadow3{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }
    .w-half{
        width: 100%;
        /* padding: 0 3rem; */
    }

   .left-resp{
    flex-direction: column;
   }
   .right-resp{
    flex-direction: column;
   }
   .social-medias{
    /* flex-direction: column; */
  }
 
}

@media screen and (max-width: 448px) {

    .recent-resp {
        display: block;
    }

    .featured-card-item:last-child{
          display: none;
          
    }
    .photos{
        flex-direction: column;
    }
    .photos:last-child{
        display: none;
    }
    .resp-photo:last-child{
        display: none;
    }
    .resp-photo-disp{
        display: block;
    }
    .bg-white-resp{
        background-color: #fff;
        margin-bottom: 2rem;
    }
    html{
    font-size: 8px;
   } 
   .related-card:nth-child(3){
    display: none;
}
.resp-icon{
    display: block;
}
.left{
   display: none;
    
}
.right{
  
   display: none;
}
.related-card:nth-child(1){
    display: none;
}
.related-resp{
    display: block;
}
.resp-white{
    background-color: #fff;
}
}

@media screen and (max-width: 319px) {
    .footer-item{
        width: 45%;
    }
    .footer-item2{
        display: none;
    }
    .footer-item3{
        width: 55%;
    }
}
