.dashboard-sidebar{
    width: 18%;
}

.sidebar-inside{
    position: fixed;
    width: 18%;
}

.author-img{
    position: relative;
    width: 3.5rem;
    min-width: 3.5rem;
    height: 3.5rem;
}

.author-img::after{
    content: '';
    position: absolute;
    top: 70%;
    left: 70%;
    width: 6px;
    height: 6px;
    border: #191c24 solid 3px;
    border-radius: 50%;
    background-color: rgb(22, 170, 22);
}

.author-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.author{
    gap: 6rem;
}
.dash-link{
    padding: 1rem 0;
}

.active-link{
    background-color: #121213c2;
    padding: 1rem 0;
    border-left: rgb(17, 71, 187) solid 4px;
}

.dash-link:hover{
    background-color: #121213c2;
    height: 100%;
}